html {
    display: block;
}

body {
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0;
}

div#content {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

div#profile {
    position: fixed;
    top: 24px;
    margin-left: 24px;
    width: 200px;
    z-index: 2;
}

    div#picture {
        width: 200px;
        height: 200px;
        background-image: url("images/profile.JPG");
        background-position: center;
        background-size: cover;
        border-radius: 6px;
        border: 1.5px solid black;
    }

    div#profile h1 {
        font-size: 24px;
        font-weight: 900;
        margin: 24px 0 0 0;
    }

    div#profile ul {
        list-style: none;
        padding: 0;
        font-size: 15px;
        font-weight: 500;
        margin: 4px 0 0 0;
        line-height: 1.75;
    }

    div#profile a {
        color: BLACK;
        text-decoration: none;
    }

    div#profile a:hover {
        text-decoration: underline;
    }

    div#profile li img {
        width: 11px;
        padding-right: 8px;
    }

div#mobNav, div#navBar {
    display: none;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 620px;
    height: 56px;
    padding-left: 316px;
    background-color: #FFF;
}

    nav ul {
        list-style: none;
        margin: 24px 0;
        padding: 0;
    }

    nav ul li {
        float: left;
        padding: 0 24px 0 0;
    }

    nav a {
        color: #000;
        font-weight: 600;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }

main {
    position: relative;
    margin: 64px 0 0 304px;
    width: 620px;
    padding: 0 0 112px 12px;
    line-height: 1.4;
}

    main h1 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 24px;
        padding-top: 64px;
    }

    div#education ol {
        margin: 0;
        padding: 0 28px;
        list-style-type: decimal-leading-zero;
    }

    div#education li {
        margin: 24px 0;
        padding: 0 4px;
        font-weight: 600;
    }

    div.section p {
        margin: 12px 0 0 0;
        font-weight: 400;
    }

    div#skills h3 {
        margin: 16px 0 8px 0;
        font-size: 14px;
        font-weight: 600;
        color: DARKGREY;
    }

    div#skills ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    div#skills li {
        float: left;
        margin: 0 8px 8px 0;
        padding: 2px 6px 2px 6px;
        border: 1.5px solid #000;
        border-radius: 6px;
        font-weight: 500;
    }

    .tooltip {
      position: relative;
      cursor: pointer;
      display: inline-block;
      border: 1.5px dotted #FFF;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: auto;
      white-space: nowrap;
      background-color: #EEE;
      color: #000;
      text-align: center;
      border-radius: 6px;
      border-top-left-radius: 0px;
      padding: 4px 6px 4px 6px;
      font-size: 12px;
      font-weight: 600;
      position: absolute;
      top: 26px;
      left: -1.5px;
      border: 1.5px solid #000;
      /* border-top: 0px; */
    }

    .tooltip:hover {
        border-bottom-left-radius: 0px !important;
    }

    .tooltip:hover .tooltiptext {
        z-index: 1;
        visibility: visible;
    }

    div.row {
        width: 100%;
        clear: both;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 32px;
    }

    div.title {
        width: 180px;
    }

    div.title h2 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
    }

    div.title a {
        text-decoration: none;
        color: BLACK;
    }

    div.title a:hover {
        text-decoration: underline;
    }

    div.title img {
        height: 12px;
        padding: 0 4px 0 1px;
    }

    div.title h3 {
        margin: 8px 0;
        font-size: 14px;
        font-weight: 500;
        color: DARKGREY;
    }

    div.description {
        width: 400px;
        font-size: 16px;
    }

    div.description p {
        margin: 0;
    }
