html {
    display: block;
}

body {
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    margin: 0;
}

div#content {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

div#profile {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 6em 0 2em 0;
    background-color: #FFF;
}

    div#picture {
        width: 10em;
        height: 10em;
        margin: 0 auto;
        background-image: url("https://scontent.fphl2-1.fna.fbcdn.net/v/t1.0-1/p240x240/34284693_2095336927373251_6838863454619566080_n.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_ohc=wAGq1nI9-LkAX_-PVIT&_nc_ht=scontent.fphl2-1.fna&_nc_tp=6&oh=8d0247f036e8b3bbca825e1769ab1a73&oe=5F12427F");
        background-position: center;
        background-size: cover;
        border-radius: 0.2em;
        border: 0.1em solid #000;
    }

    div#profile h1 {
        width: 100%;
        margin: 0 auto;
        font-size: 2em;
        font-weight: 900;
        margin: 1.2em 0 0.2em 0;
        text-align: center;
    }

    div#profile ul {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.75;
        text-align: center;
    }

    div#profile a {
        color: BLACK;
        text-decoration: none;
    }

    div#profile a:hover {
        text-decoration: underline;
    }

    div#profile li img {
        width: 0.8em;
        padding: 0 0.6em 0 0.2em;
    }

    @media only screen and (min-width: 600px) {
        div#profile {
            padding: 6em 10% 0em 10%;
            width: auto;
        }
        div#picture {
            margin: 0 24px 0 0;
            width: 140px;
            height: 140px;
            float: left;
        }
        div#profile h1 {
            width: auto;
            margin: 16px 0 4px 0;
            text-align: left;
            float: left;
            font-size: 1.5em;
        }
        div#profile ul {
            width: 60%;
            margin: 0;
            text-align: left;
            float: left;
            font-size: 16px;
        }
    }

div#navBar {
    position: fixed;
    width: 100%;
    height: 3em;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FFF;
    border-bottom: 0.1em solid #000;
}

    div#navBar h1 {
        margin: 0;
        padding: 1em;
        float: left;
        font-size: 1em;
        font-weight: 600;
    }

    div#navBar a {
        text-decoration: none;
        color: #000;
    }

    div#navBar img {
        float: right;
        padding: 1em;
        height: 1em;
    }

nav {
    display: none
}

div#mobNav {
    display: none;
    position: fixed;
    z-index: 1;
    top: 3.1em;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
}

    div#mobNav ul {
        list-style: none;
        font-size: 1.5em;
        margin: 0;
        padding: 2em;
        line-height: 2.5;
        text-align: center;
    }

    div#mobNav a {
        color: #000;
        font-weight: 500;
        text-decoration: none;
        padding-bottom: 0.1em;
        border-bottom: 0.05em solid #000
    }

    #bar {
        display: none;
    }

main {
    position: relative;
    width: 80%;
    padding: 0 10% 10% 10%;
    line-height: 1.4;
}

    main h1 {
        font-size: 1.8em;
        line-height: 1.1;
        padding-top: 3em;
        margin: 0 0 1em 0;
        font-weight: 600;
    }

    div#education ol {
        margin: 0;
        padding: 0 0 0 1.6em;
        list-style-type: decimal-leading-zero;
    }

    div#education li {
        margin: 2em 0;
        padding: 0 0 0 0.2em;
        font-weight: 600;
    }

    div.section p {
        margin: 1em 0 0 0;
        font-weight: 400;
    }

    div#skills h3 {
        margin: 1.25em 0 0 0;
        font-size: 0.8em;
        font-weight: 600;
        color: DARKGREY;
    }

    div#skills ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0.9em;
    }

    div#skills li {
        float: left;
        margin: 0.5em 0.5em 0 0;
        padding: 0.1em 0.4em;
        border: 0.1em solid #000;
        border-radius: 0.4em;
        font-weight: 500;
    }

    .tooltip {
      position: relative;
      cursor: pointer;
      display: inline-block;
      border: 0.1em dotted #FFF;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: auto;
      white-space: nowrap;
      background-color: #EEE;
      color: #000;
      text-align: center;
      border-radius: 0.4em;
      border-top-left-radius: 0px;
      padding: 0.2em 0.4em;
      font-size: 0.8em;
      font-weight: 600;
      position: absolute;
      top: 1.95em;
      left: -0.15em;
      border: 0.1em solid #000;
      /* border-top: 0px; */
    }

    .tooltip:hover {
        border-bottom-left-radius: 0 !important;
    }

    .tooltip:hover .tooltiptext {
        z-index: 1;
        visibility: visible;
    }

    div.row {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div.title {
    }

    div.title h2 {
        margin: 1em 0 0 0;
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1.1;
    }

    div.title a {
        text-decoration: none;
        color: BLACK;
    }

    div.title a:hover {
        text-decoration: underline;
    }

    div.title img {
        height: 0.8em;
        padding: 0 0.3em 0 0.05em;
    }

    div.title h3 {
        font-size: 1em;
        font-weight: 500;
        color: DARKGREY;
        margin: 0.5em 0 1em 0
    }

    div.description {
        padding-bottom: 2em;
        font-size: 1em;
    }

    div.description p {
        margin: 0;
    }
